*,
*:before,
*:after {
  box-sizing: border-box;
}

.full:before,
.full:after,
.content:before,
.content:after,
.content-full:before,
.content-full:after {
  display: table;
  table-layout: fixed;
  content: '';
}

.full:after,
.content:after,
.content-full:after {
  clear: both;
}

.full {
  position: relative;
  width: 100%;
  /*  overflow: hidden;*/
}

.content {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0;
}

@media all and (max-width: 1450px) {
  .content {
    padding-right: 2%;
    padding-left: 2%;
  }
}

@media all and (max-width: 550px) {
  .content {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.content-full {
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto;
}

/*Sticky Footer*/
.section-fullpage-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100px;
}

.wrapper {
  padding-top: 0;
  padding-bottom: 0;
  background: #f6f7fb;
  flex: 1;
  scroll-behavior: smooth;
}

.flex-container_row-space-between-stretch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  /*  outline: 1px solid #eeeeee;*/
}

.flex-container_row-space-between-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /*  outline: 1px solid #eeeeee;*/
}

.flex-container_row-space-around-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.flex-container_row-space-around-stretch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  /*  outline: 1px solid #eeeeee;*/
}

.flex-container_row-flex-start-center {
  display: flex;
  flex-direction: row;
  outline: 1px solid #eee;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.flex-container_row-flex-start-stretch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

.flex-item-flex-end {
  align-self: flex-end;
}

.flex-item-flex-start {
  align-self: flex-start;
}

/*.flex-item-center {
  -ms-flex-item-align: center;
  align-self: center;
  }*/
.flex-item-100,
.flex-item-90,
.flex-item-80,
.flex-item-75,
.flex-item-70,
.flex-item-60,
.flex-item-65,
.flex-item-50,
.flex-item-40,
.flex-item-45,
.flex-item-33,
.flex-item-30,
.flex-item-25,
.flex-item-20 {
  /*    outline: 1px solid rgba(34, 34, 34, 0.08);*/
  /*  background-color: rgba(34, 34, 34, 0.05);*/
}

.flex-item-100 {
  flex-basis: 100%;
}

.flex-item-90 {
  flex-basis: 90%;
}

.flex-item-80 {
  flex-basis: 80%;
}

.flex-item-75 {
  flex-basis: 75%;
}

.flex-item-70 {
  flex-basis: 70%;
}

.flex-item-65 {
  flex-basis: 65%;
}

.flex-item-60 {
  flex-basis: 60%;
}

.flex-item-50 {
  flex-basis: 50%;
}

.flex-item-40 {
  flex-basis: 40%;
}

.flex-item-45 {
  flex-basis: 45%;
}

.flex-item-33 {
  flex-basis: 33.33%;
}

.flex-item-30 {
  flex-basis: 30%;
}

@media all and (max-width: 950px) {
  .flex-item-90,
  .flex-item-80,
  .flex-item-75,
  .flex-item-70,
  .flex-item-60,
  .flex-item-65,
  .flex-item-50,
  .flex-item-40,
  .flex-item-45,
  .flex-item-33,
  .flex-item-30 {
    flex-basis: 100%;
  }
}

.flex-item-25 {
  flex-basis: 25%;
}

@media all and (max-width: 950px) {
  .flex-item-25 {
    flex-basis: 50%;
  }
}

@media all and (max-width: 550px) {
  .flex-item-25 {
    flex-basis: 100%;
  }
}

.flex-item-20 {
  flex-basis: 20%;
}

@media all and (max-width: 750px) {
  .flex-item-20 {
    flex-basis: 100%;
  }
}

.flex-item-10 {
  flex-basis: 10%;
}

@media all and (max-width: 950px) {
  .flex-item-10 {
    flex-basis: 20%;
  }
}

.flex-item-0-1-auto {
  outline: 1px solid rgba(34, 34, 34, 0.3);
  background-color: rgba(34, 34, 34, 0.1);
  flex: 0 1 auto;
}

.flex-item-1-1-auto {
  outline: 1px solid rgba(34, 34, 34, 0.3);
  background-color: rgba(34, 34, 34, 0.1);
  flex: 1 1 auto;
}

.section-code {
  margin-bottom: 20px;
  padding: 10px;
  outline: 1px solid rgba(107, 229, 171, 0.5);
  background-color: rgba(107, 229, 171, 0.1);
  flex: 1 1 auto;
}

.section-code p {
  margin: 0;
  text-align: center;
  color: #22c879;
}

.section-code p.description {
  font-size: 12px;
}
